# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
janellewebsite/Include/
janellewebsite/Lib/
janellewebsite/Scripts/
janellewebsite/pip-selfcheck.json
janellewebsite/tcl/
